<h1>Edit comment <%=@comment.body%> for <%=@post.link%></h1>
<% #binding.pry %>
<%= form_for [@post, @comment] do |f| %>
<%= f.text_area :body, placeholder: 'comment body' %>
<%= f.submit %>
<%end%>
<%= button_to "Home", root_path, method: :get %>
