<h1><%= @post.link %></h1>
<h4><%= @post.body %></h4>

<% @post.comments.each do |c| %>
   
   <p> NoobTube314 says: <%= link_to c.body, post_comment_path(@post, c) %></p> 
   
<% end %>

<%= link_to "Add comments", new_post_comment_path %>
<br>
<%= link_to "Go back to homepage", posts_path %>