<div class="link">
	<%= @post.link %>
</div>
<div class="post_body">
  <%= @post.body %>
	</div>


<%= @post.comments.each do |comment| %>

   <div class="comment">
   	<% end %>

	 </div>

<%= form_for [:post, :comment] do |f| %>
	<%= f.text_field :body, placeholder: "Write you comment here" %>
	<%= f.submit %>
<% end %>



	 
	


