<h1> Comment number <%= @comment.id %> for <%=@post.link%></h1>
<div>
	Comment: <%= @comment.body%>
</div>

<br><%= link_to "Edit this comment", edit_post_comment_path %></br>

<% @comment.comments.each do |comment| %>
	<%= comment.comment_body %>
<% end %></br>


<br><%= link_to "Comment on this comment", post_comment_path, :method => :patch %></br>

<br><%= link_to "Back to post", post_path(@post) %>