<h2>Comment</h2>

<%= @comment.body %>

  <% @comment.comments.each do |comment| %>
    <div><a href="<%= post_comment_path(@post.id, comment.id)%>"><%= comment.body %></a></div>
  <% end %>

<%= form_for :comment, url: create_comment_path(@post.id, @comment.id), method: :post do |f| %>
    <%= f.text_area :body, placeholder: "comment on comment", value: nil %><br>
    <%= f.submit "Submit Comment" %>
  <% end %>