<% if current_user == nil
    half_email = " "
  else
    email = current_user.email 
    half_email = "signed in as " + email[/[^@]+/] 
    end %>

<header>
  <h1>seddit</h1>
  <ul>  
  <% if user_signed_in? %>
    <li><%=half_email%></li>
    <li> <%= button_to 'sign out', destroy_user_session_path, :method => :delete%></li> 
  <% else %>
    <li><%= link_to 'sign in',  new_user_session_path, :method => :get %></li>
    <li><%= link_to 'sign up',  new_user_registration_path, :method => :get %></li>
  <% end %>
  </ul> 
</header>

<div>
<% if user_signed_in? %>

  <%= form_for @new_post do |f| %>
    <%= f.text_area :title, placeholder: "post" %>

    <%= f.fields_for :comments, @new_post.comments.build do |b| %>
      <%= b.text_area :say, placeholder: "comment" %>
      <%end%>
    <%= f.submit %>
  <%end%>

  <br>click on post to see comments:
  <ul>
    <% @post.each do |post| %>
    <li><%= link_to "#{post.title}", post_path(post.id), :method => :get %></li>
    <% end %>
  </ul> 
<% else %>
  sign in to see posts
<% end %>
</div>



