<%= link_to "Add a new post", new_post_path %>

<h1>Posts:</h1>
<% @posts.each do |post| %>
	<a href="/posts/<%=post.id%>/comments"><div><h3><%= post.body %></h3></div></a>
	<a href="http://<%=post.link%>"><div><h3><%= post.link %></h3></div></a>
	<h4>comments:</h4>
	<% post.comments.each do |comment| %>
	<div><%= comment.body %></div>
	<% end %>

<% end %>

<%= link_to "Add a new post", new_post_path %>