
<% if user_signed_in? %>
<%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
<% else %>
<%= link_to "Sign Up", new_user_registration_path %>
<%= link_to "Sign In", new_user_session_path %>
<% end %>

<p><%= link_to "Create a new Post", new_post_path%> </p>
<div>
<% @posts.each do |p| %>
	<%= p.link %> <%=link_to "Link to this post", post_path(p) %></br>
	<%= p.body %> <%=link_to "Comment on this post", new_post_comment_path(p)%></br>

	<% p.comments.each do |c| %>
		Comment <%=c.id %>: <%= c.body %> <%= link_to "Link to this comment", post_comment_path(p, c) %></br>
	<% end %></br>

<% end %>
</div>