<%= link_to "Create new post", new_post_path %><br><br>
<h1>All Posts:</h1>

<% @posts.each do |post| %>
	<% if post.link == nil %>
		<%= post.link = "Link: N/A" %><br>
	<% else %>
	<a href="<%=post_path(post.id)%>"><%= post.link%></a><br>
	<% end %>
	<%= post.body %><br>
	Comments: <br>
	<% post.comments.each do |comment| %>
		<%= comment.body %> <br>
		<% comment.comments.each do |comment| %>
		<%= comment.body %><br>
		<%end%>
	<% end %><br>
<% end %>


