<p>Readit? Get it?!</p>


<h2>Current Posts: <% @posts.each do |p| %></h2>
	<h1><a href="<%= p.link %>"><%= p.link %></a></h1>
	<h2><%= link_to  p.title, post_path(p) %></h2>
	<p><%= p.body %></p>
	<% end %>

<%= button_to "new post", new_post_path, method: :get %>




