
<% if user_signed_in? %>
<%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
<% else %>
<%= link_to "Sign Up", new_user_registration_path %>
<%= link_to "Sign In", new_user_session_path %>
<% end %>

<p><%= link_to "Create a new Post", new_post_path%> </p>
<div>
<% @posts.each do |p| %></br>
	<a href= "<%= post_path(p) %>"><%= p.link %> </a></br>
	<%= p.body %></br> 
	<% end %>
</div>