<%= link_to "Create new post", new_post_path %><br><br>
<h1>All Posts:</h1>

<% @posts.each do |post| %>
	<% if post.link == nil %>
		<%= post.link = "Link: N/A" %><br>
	<% else %>
	Link: <a href="https://<%=post.link%>"><%= post.link%></a><br>
	<% end %>
	Post: <%= link_to post.body, post_path(post.id) %><br>
	Comments: <br>
	<% post.comments.each do |comment| %>
		<%= comment.body %> <br>
	<% end %><br>
<% end %>


