<h1>Shreddit</h1>
<%= link_to "Home", controller: "posts" %><br>
<%= link_to 'New post', new_post_path %><br>
<%= link_to "Sign out", destroy_user_session_path, :method => 'delete' %>
<%= simple_format('<a href="http://example.com/">Example</a>') %>

<h1>Listing posts</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>Comment</th>
  </tr>
 
  <% @posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td><%= post.text %></td>
      <td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post_path(post),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    </tr>
  <% end %>
</table>

