<h1>Auctions#index</h1>
<% @posts.each do |a| %>
<ul>
<li>
<ul>
<li><%= a.link %> </li>
<li><%= a.body %> </li>
<li> Comments </li>
<% a.comments.each do |c| %>
<ul>
<li> <%= c.body %> </li>
</ul>
<li><a href="/users/<%=a.user_id%>/posts/<%=a.id%>/">View Post</a></li>
</ul>
<% end %>
</li>
<hr>
</ul>
<% end %>