<h1>Create New Post</h1>

<%= form_for @post do |f| %>
	<%= f.text_field :link, placeholder: "Link" %>  <br>
	<%= f.text_field :title, placeholder: "Post Title" %> <br>
	<%= f.text_area :body, placeholder: "Body" %> <br>			<%= f.submit  %>
<% end %>


