<h1>New Post</h1>

<%= form_for @post do |f| %>
  <%= f.text_field :url, placeholder: "link" %>
  <%= f.text_field :body, placeholder: "description" %>
  <%= f.fields_for :comments, @post.comments.build do |b| %>
    <%= b.text_field :body, placeholder: "comment" %>

  <% end %>
  <%= f.submit %>
<% end %>
