<h1>New Post</h1>

<%= form_for @post do |f| %>
	<%= f.text_field :link, placeholder: "Post Link" %></br>
	<%= f.text_area :body, placeholder: "Post Body" %></br>
	<%= f.fields_for :comments, @post.comments.build do |c| %>
		<%= c.text_field :body, placeholder: "Comment" %></br>
	<% end %>
	<%= f.submit %>
<% end %>