<h1>Link: <%=@post.link%></h1>
<h1>Post: <%=@post.body%></h1>
<%if @post.comments.count == 0 %>
	<p>No comments!</p>
<% elsif @post.comments.count ==1 %>
	<h2>Comment: <%=@post.comments.id%></h2>
	<h3>Comment: <%= @post.comments.body %></h3>
<% else %>	
	<% @post.comments.each do |comment| %>
		<h2>Comment: <%= comment.id %></h2>
		<h3>Comment: <%= comment.body %></h3>
		<%=button_to "Edit this Comment",  edit_post_comment_path(@post.id, comment.id), method: :get %>
	<% end %>
<% end %>
<%= button_to "Add a new comment", new_post_comment_path(@post.id), method: :get %>

<%= button_to "Home", root_path, method: :get %>
