<h3><a href=<%= @post.link %>><%= @post.body %></a></h3>

<ul>
  <% @comments.each do |c| %>
    <li><%= c.body %>
<!--       <%# c.comments.each do |com| %>
        <%#=com.body %>
      <%# end %> -->
    </li>
  <% end %>
</ul>

<%= render "/comments/new_comment" %>

<%= @post.link %>