<h1><%= @post.link %></h1>
 
<div class="body">
  <%= @post.body %></br> 
  <%= link_to "Edit Post", edit_post_path(@post)%> 
</div>
 
<h2>Comments</h2>
 
<p><%= link_to 'Add a Comment', new_post_comment_path(@post) %></p>
 
<ul class="comment_list">
  <%= render :partial => 'comments/comment', :collection => @post.comments %>
</ul>

<br><%= link_to "Back to homepage", :root%>