<h2>My Posts</h2>
<div>Post link: <%= @post.link %></div>
<div>Post body: <%= @post.body %></div><br>

<div>
  <h4>Comments:</h4>
  <% @post.comments.each do |comment| %>
    <div><a href="<%= post_comment_path(@post.id, comment.id)%>"><%= comment.body %></a></div>
      


  <% end %>
</div>

<%= form_for :comment, url: "/posts/#{@post.id}/comments", method: :post do |f| %>
    <%= f.text_area :body, placeholder: "Enter comment" %><br>
    <%= f.submit "Submit Comment" %>
  <% end %>