<%= link_to "Back", posts_path %> <%= link_to "Edit post", edit_post_path %><br><br>
Link: <a href="https://<%=@post.link%>"><%= @post.link %></a>
<h3><%= @post.body %></h3>
<br>
Comments:<br>
<% @post.comments.each do |comment| %>
	<a href="/posts/<%=@post.id%>/comments/<%=comment.id%>"><%= comment.body %></a><br>
<% end %>
<br>
<%= link_to "Add new comment", new_post_comment_path(@post) %><br>


