<h1>Post <%= @post.id %></h1>
<div class='col-sm-6'>
  <fieldset disabled>
	<div class="form-group">
      <%= label_tag(:link, "Link") %>
      <%= text_area_tag(:link, @post.link, size: "30x2", class: "form-control") %>
	</div>
	<div class="form-group">
      <%= label_tag(:body, "Body") %>
      <%= text_area_tag(:body, @post.body, size: "30x3", class: "form-control") %>
	</div>
  </fieldset>
</div>
