<h1>Link: <%=@post.link%></h1>
<h1>Post: <%=@post.body%></h1>

<%if @post.comments.count == 0 %>

	<p>No comments!</p>

<% else %>
	<% @post.comments.each do |comment| %>

	<h2>Comment ID: <%= comment.id %></h2>
	<h3>Comment Text: <%= comment.body %></h3>

	<%=button_to "Edit this Comment",  edit_post_comment_path(@post.id, comment.id), method: :get %>

	<p> Comment on this comment:</p>

 	<%=form_for [@post, comment], url: post_comment_path(@post.id, comment.id), method: :patch do |f| %>
		<%= f.text_area :body, :rows => 4 %><br>
		<%= f.submit "Post Comment" %>
	<% end %>
	<h3> Comments for this comment </h3>
		<% comment.comments.each do |comment2| %>
				<h4><li><%= comment2.body%></li></h4>
		<% end %>
	<% end %>
<% end %>


<br>
<%= button_to "Add a new comment", new_post_comment_path(@post.id), method: :get %>

<%= button_to "Home", root_path, method: :get %>
