<!DOCTYPE html>
<html>
<head>
  <title>NestedResources</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% unless current_user %>
	<%= form_for(:user, :url => session_path(:user)) do |f| %>
		<%= f.text_field :email %>
		<%= f.password_field :password %>
		<%= f.submit 'Sign in' %>

	<% end %>
	<% end %>

<%= button_to "Log Out", destroy_user_session_path, method: :delete %>
<%= yield %>

</body>
</html>
